/* Estilos generales */
body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de la sección de la galería */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    mix-blend-mode: luminosity;
    max-width: 100%;
    gap: 1.25rem;
    justify-items: center;
}

.image-grid img {
    max-width: 100%; /* Hacer que la imagen sea flexible */
    height: auto; /* Mantener la proporción */
    border-radius: 40px;
    object-fit: cover;
}

/* Estilo específico para la imagen horizontal */
.image-grid img.horizontal {
    grid-column: span 2; /* Ocupará el espacio de 2 imágenes regulares */
}

/* Estilos del header */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
    background-color: #f8f8f8;
}

.header-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
    background-color: #95c6ee;
}

.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 120px;
    margin-bottom: 20px;
    margin-left: 65px;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-left: 65px;
}

.button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.blue-light-button {
    background-color: #b0d4f1;
    color: black;
}

.blue-dark-button {
    background-color: #95c6ee;
    color: black;
}

.white-button {
    background-color: #ffffff;
    color: black;
}

/* Estilos de las secciones de contenido */
.section {
    padding: 40px 0;
}

.section-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    margin-left: 80px;
}

.paragraph {
    max-width: 500px;
}

/* Estilos de la sección "Sobre Nosotros" */
.about-us {
    background-color: #b0d4f1;
}

.about-us .container {
    margin-left: 40px;
}

.about-us .section-title {
    margin-left: 40px;
}

.about-us .paragraph {
    margin-left: 40px;
    max-width: 600px;
    line-height: 1.5;
}

/* Estilos para los contenedores de cifras */
.cifras {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
    flex-wrap: wrap;
}

.cifra1, .cifra2, .cifra3 {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
}

.cifra h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    margin: 0;
    text-align: center;
}

.cifra p {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin: 10px 0 0;
}

/* Estilos de la sección "La Carta" */
.menu {
    background-color: white;
    text-align: center;
}

.menu .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .section-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    margin-left: 40px;
}

.menu .paragraph {
    max-width: 400px;
    font-weight: 400;
    margin-left: 40px;
    text-align: center;
}

.menu .button {
    margin-top: 20px;
    margin-left: 40px;
}

/* Estilos para la sección de reserva */
.reservation {
    background-color: #f8f8f8;
    padding: 60px 0;
    text-align: center;
}

.reservation .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation .section-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
}

.reservation .paragraph {
    max-width: 400px;
    font-weight: 400;
    text-align: center;
}

.reservation .button {
    margin-top: 20px;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .title {
        font-size: 5rem; /* Usar rem para un ajuste relativo */
        margin-left: 1.25rem;
    }

    .button-group {
        margin-left: 1.25rem;
        margin-top: 0;
    }

    .button {
        font-size: 1rem;
        padding: 0.625rem 1.25rem;
        border-radius: 10px;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.625rem;
    }

    .image-grid img {
        width: 100%;
        border-radius: 20px;
    }
}

/* Puedes agregar más media queries para otros puntos de interrupción si es necesario */
@media (max-width: 480px) {
    .image-grid {
        grid-template-columns: 1fr; /* Una sola columna para pantallas muy pequeñas */
    }
}
