/* Estilos generales */
body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* Evita el desplazamiento horizontal */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de la sección de la galería */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.image-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    object-fit: cover;
}

/* Estilos del header */
.header-container, .header-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
}

.header-container {
    background-color: #f8f8f8;
}

.header-container2 {
    background-color: #95c6ee;
}

.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;  /* Uso relativo en lugar de píxeles */
    margin-bottom: 20px;
    margin-left: 2rem; 
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-left: 2rem;
}

.button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none; 
    color: black; 
    transition: background-color 0.3s ease;  /* Transición suave al pasar el cursor */
}

.button:hover {
    background-color: #333;
    color: white;
}

/* ... [Mantener el resto del código tal cual] ... */

@media (max-width: 768px) {
    .title {
        font-size: 3rem; 
        margin-left: 1rem; 
    }

    .button-group {
        margin-left: 1rem; 
        flex-direction: column;
    }

    .button {
        margin-bottom: 10px;
    }
}

  
